body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height: 100%;
}

.contentSection {
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 10px;
    padding-top: 30px;
}

.nonActivePage {
    background-color: #969cae;

}

/* Nav and card CSS */
.navColumn {
    padding-right: 0;
}

nav .card {
    border-radius: 10px 0 0 10px;
    border-right: 0;
}

.card-body {
    padding: 15%;
}


/* Table CSS */
tbody {
    text-align: right;
}

.row {
    justify-content: right;
}

tr {
    height: 120px;
}

table {
    border-collapse: collapse;
}

/* Footer */
footer {
    text-align: center;
}

/* Article CSS */
.profilePicture {
    max-width: 60%;
    margin-top: 15px;
}