/* #969cae; */

body {
    line-height: 1rem;
}

.navbar .h1 {
    font-size: 1.75em;
    color: #fff;
}

nav.navbar .container {
    padding: 16px;
}

/* Masthead CSS */
.masthead {
    margin-top: 76px;
    background-color: darkblue;
    text-align: center;
}

.masthead h1 {
    color: #fff;
}

.masthead-subheading {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
    line-height: 3rem;
    text-align: center;

}

.masthead-avatar {
    width: 15rem;
    margin-top: 8rem;
}

.masthead-heading {
    font-size: 3rem;
    line-height: 3.5rem;
}

/* Divider CSS */
/* Masthead */
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .25rem;
    width: 100%;
}

.divider-line {
    width: 100%;
    max-width: 25rem;
    height: .25rem;
    background-color: #fff;
}

/* Light section */
.light-section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .25rem;
    width: 100%;
    margin: 1.25rem 0 1.5rem;
}

.light-section-divider-line {
    width: 100%;
    max-width: 25rem;
    height: .25rem;
    background-color: grey;
}

/* dark section */
.dark-section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .25rem;
    width: 100%;
    margin: 1.25rem 0 1.5rem;
}

.dark-section-divider-line {
    width: 100%;
    max-width: 25rem;
    height: .25rem;
    background-color: #fff;
}

/* Section CSS */
section {
    padding: 6rem 0;
}

.section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
}

.dark-section {
    background-color: darkblue;
    color: #fff;

}

.dark-section .section-heading {
    color: #fff;
}

.light-section {
    background-color: #fff;
}

/* Portfolio Section */
.portfolio-item {
    margin-bottom: 30px;
}

/* Content Section */
.content-section {
    color: #fff;
}

.content-section table {
    color: #fff;
}

/* Footer CSS */

/* Copyright section */
.copyright {
    padding: 24px 0;
}