body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height: 100%;
}

.contentSection {
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;
    padding-top: 30px;
}

.nonActivePage {
    background-color: #969cae;

}

.navColumn {
    padding-right: 0;
}

tbody {
    text-align: right;
}

.row {
    justify-content: right;
}

tr {
    height: 120px;
}

table {
    border-collapse: collapse;
}

/* Footer */
footer {
    text-align: center;
}